<div class="banner" >
  <div class="container home-container">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="container p-3 mt-5">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <% background_url = cl_image_path cocktail.photo.key, width: 400, height: 500, crop: :fill %>
    <% end %>
      <div class="card-category" style="background-image: url(<%= background_url %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "a-primary" %>
      </div>
    <% end %>
  </div>
</div>

