<h1>New Cocktail</h1>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <% if @cocktail.photo.attached? %>
      <%= cl_image_tag(photo.key,
        width: 400, height: 300, crop: :fill) %>
  <% end %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>

