.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;

  .image{
    margin-right: 64px;

  }
}

@media(max-width: 983px) {
  .form-container {
    display: block;
  }
  .form-content{
    margin-top: 8px;
    width: 500px;
    margin-left: 120px;
  }
  .image{
   text-align: center;
  }
}

@media(max-width: 767px) {
  .form-container {
    display: block;
  }
  .form-content{
    margin-top: 8px;
    margin-left: 0px;
  }
  .image{
   text-align: left;
  }

}
